@import "../../../styles/vars";

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $xl) {
  .contact,
  .map {
    padding: 20px 0;
  }
}
