<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Lemans' Workshop</span>
    <span>
      <a href="#home">Home</a>
      <a href="#contact">Contact</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <section id="home">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Home</h1>
        <hr />
      </div>
    </div>
    <div
      *ngFor="let item of (imageData$ | async)?.collection.items"
      class="image-container"
    >
      <div *ngFor="let link of item.links">
        <img [src]="link.href" *ngIf="link.render === 'image'" />
      </div>
    </div>
  </section>
  <section id="contact" class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Contact</h1>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="map col-12 order-2 col-xl-7 order-xl-1">
        <div class="map-responsive">
          <iframe
            src="https://maps.google.com/maps?q=3501%20Kennedy%20Rd%2C%20Janesville%2C%20WI%2053545&t=&z=13&ie=UTF8&iwloc=&output=embed"
            width="600"
            height="450"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="contact col-12 order-1 col-xl-5 order-xl-2">
        <div class="row">
          <div class="col-4 col-xl-2"><strong>Address:</strong></div>
          <div class="col-8 col-xl-4">
            3501 Kennedy Rd, Janesville, WI 53545
          </div>
          <div class="col-4 col-xl-2"><strong>Phone:</strong></div>
          <div class="col-8 col-xl-4">(608) 758-1111</div>
        </div>
        <div class="row"><div class="col">&nbsp;</div></div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" value="Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location" value="Location" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Reason</mat-label>
              <input matInput placeholder="Reason" value="Reason" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Message</mat-label>
              <input matInput placeholder="Message" value="Message" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-raised-button (click)="submitMessage()" color="primary">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
